<!-- templates/diseases.html -->
<div class="mb-5">
    <div class="form-check form-check-inline">
        <input class="form-check-input form-check-input-primary" type="radio" name="inlineRadioOptions"
            id="inlineRadio1" value="option1">
        <label class="form-check-label" for="inlineRadio1">황반변성</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input form-check-input-primary" type="radio" name="inlineRadioOptions"
            id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">망막폐쇄</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input form-check-input-primary" type="radio" name="inlineRadioOptions"
            id="inlineRadio3" value="option3">
        <label class="form-check-label" for="inlineRadio3">라식</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input form-check-input-primary" type="radio" name="inlineRadioOptions"
            id="inlineRadio4" value="option4">
        <label class="form-check-label" for="inlineRadio4">백내장</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input form-check-input-primary" type="radio" name="inlineRadioOptions"
            id="inlineRadio5" value="option5">
        <label class="form-check-label" for="inlineRadio5">녹내장</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input form-check-input-primary" type="radio" name="inlineRadioOptions"
            id="inlineRadio6" value="option6">
        <label class="form-check-label" for="inlineRadio6">결막염</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input form-check-input-primary" type="radio" name="inlineRadioOptions"
            id="inlineRadio7" value="option7">
        <label class="form-check-label" for="inlineRadio7">각막염</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input form-check-input-primary" type="radio" name="inlineRadioOptions"
            id="inlineRadio8" value="option8">
        <label class="form-check-label" for="inlineRadio8">눈물흘림증</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input form-check-input-primary" type="radio" name="inlineRadioOptions"
            id="inlineRadio9" value="option9">
        <label class="form-check-label" for="inlineRadio9">망막염</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input form-check-input-primary" type="radio" name="inlineRadioOptions"
            id="inlineRadio10" value="option10">
        <label class="form-check-label" for="inlineRadio10">시신경염</label>
    </div>
</div>